
CamadaDados/obj/Debug/CamadaDados.csprojAssemblyReference.cache
CamadaNegocio/obj/Debug/CamadaNegocio.csprojAssemblyReference.cache
WpfTestApp/obj/Debug/App.g.cs
WpfTestApp/obj/Debug/Autovar.csprojAssemblyReference.cache
WpfTestApp/obj/Debug/MainWindow.g.cs
WpfTestApp/obj/Debug/UserControlDefinicoes.g.cs
WpfTestApp/obj/Debug/UserControlPaginaInicial.g.cs
WpfTestApp/obj/Debug/UserControlPerfil.g.cs
WpfTestApp/obj/Debug/UserControlPesquisa.g.cs
WpfTestApp/obj/Debug/WpfTestApp_MarkupCompile.cache
WpfTestApp/obj/Debug/WpfTestApp_MarkupCompile.lref
.vs/Autovar/v16/.suo
.vs/Autovar/v16/.suo
WpfTestApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
.vs/Autovar/v16/.suo
WpfTestApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/Autovar/v16/.suo
WpfTestApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
WpfTestApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/Autovar/v16/.suo
.vs/Autovar/v16/.suo
*.cache
WpfTestApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/Autovar/v16/.suo
*.cache
*.cache
*.cache
*.cache
.vs/Autovar/v16/.suo
CamadaDados/ConnectionString.cs
CamadaDados/ConnectionString.cs
*.cache
*.cache
*.cache
*.cache
CamadaDados/app.config
CamadaDados/Properties/Settings.Designer.cs
CamadaDados/Properties/Settings.settings
CamadaDados/app.config
CamadaDados/Properties/Settings.Designer.cs
CamadaDados/Properties/Settings.settings
udl_file.udl
CamadaDados/Properties/Settings.settings
udl_file.udl
